body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: roboto;
}

header {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    background-color: white;
}

main {
    margin: 1em;

}

img[src="img/hamburger.png"] {
    width: 1em;
    height: 1em;
    margin: 0 .7em 0 1.5em;
}

img[src="img/logo.png"] {

    height: 4em;
    margin: 1em 1em 1em 1em;
}

#search-bar {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
}

#search-bar input {
    width: 80%;
    max-width: 500px;
    height: 2.5em;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

#search-link {
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    padding: .35em;
    border: 1px solid lightgrey;
    width: 3em;
}

#search-img {
    height: 1em;

}

#top-right-menu {
    display: flex;
    margin: 1em;
}

#top-right-menu a {
    margin: 1em;
}

#top-right-menu img {
    height: 1.2em;
}

nav {
    position: fixed;
    background-color: white;
    width: 18em;
    height: 100%;
    overflow: scroll;
    top: 5em;
}

nav ul {
    list-style: none;

}

nav li {
    margin: 1.5em;
}

.nav-box {
    border-bottom: 1px solid lightgrey;
}

#day:first-of-type {
    margin-top: 5em;
}

#feed {
    margin: 1em auto 1em auto;
    max-width: 100em;
}

.video-grid {
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid lightgrey;
    max-width: 81em;
}


.video-block {
    margin-bottom: 1.5em;
}

.video-block img {
    max-width: 15em;
    height: 7em;
}

.video-block h3 {
    font-size: 1em;
    padding-right: 1em;
    margin: 0;
    max-width: 80%;
}

.video-block p {
    margin: 0.1em;
    font-size: .9em;
}

.hide {
    display: none;
}

#smallSearch {
    display: none;
}

/* Media Queries */
@media(max-width: 750px) {
    #feed {
        margin: 5em 1em 1em 1em;
    }
    img[src="img/logo.png"]{
        margin: 0;
    }
    #search-bar input, #search-bar a {
        display: none;
    }

    #smallSearch {
        display: block;
    }
}